<form data-bind="submit: $parent.getProducts.bind($parent)" id="form-validate">
    <fieldset class="fieldset">
        <div class="field price">
            <label class="label" for="price">
                <span data-bind="i18n: 'Search by Price'"></span>
            </label>
            <div class="control">
                <div class="range price fields group group-2">
                    <div class="field no-label">
                        <div class="control">
                            <div class="addon">
                                <input name="price[from]"
                                       placeholder="0.00"
                                       data-bind="textInput: $parent.minPrice"
                                       id="price"
                                       class="input-text" type="number"
                                       maxlength="125"
                                       data-validate="{number:true, 'validate-not-negative-number':true, 'less-than-equals-to':'#price_to'}"
                                />
                                <span class="addbefore" data-bind="text: $parent.currency" style="border:none"></span>
                            </div>
                        </div>
                    </div>
                    <div class="field with-addon no-label">
                        <div class="control">
                            <div class="addon">
                                <input name="price[to]"
                                       data-bind="textInput: $parent.maxPrice"
                                       placeholder="500.00"
                                       id="price_to"
                                       class="input-text" type="number"
                                       maxlength="125"
                                       data-validate="{number:true, 'validate-not-negative-number':true, 'greater-than-equals-to':'#price'}"
                                />
                                <span class="addbefore" data-bind="text: $parent.currency" style="border:none"></span>
                                <span class="addafter" data-bind="text: $parent.currencyCode" style="border:none"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action search primary">
                <span data-bind="i18n: 'Search'"></span>
            </button>
        </div>
    </div>
</form>
