<?xml version="1.0"?>
<!--
/**
 * @author      Thais Cailet <thaiscmky@users.noreply.github.com>
 * @package     ThaisCmky_CustomerFilters
 * @copyright   Copyright (c) 2021 Thais Cailet (https://thaiscmky.github.io/)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ThaisCmky_CustomerFilters">
        <sequence>
            <module name="Magento_Customer"/>
        </sequence>
    </module>
</config>
